.spinner{
  width: 60px;
  height: 60px;
  background-color: blue;
  border-radius: 100%;
  margin: 100px auto;
  -webkit-animation: fadeOut  2.0s infinite ease-in-out;
  animation:fadeOut  2.0s infinite ease-in-out;
}

@keyframes fadeOut{
  from {-webkit-transform:scale(0.0);}
  to {-webkit-transform:scale(1.0); opacity: 0;}
}

@-moz-keyframes fadeOut{ /* Firefox */

}

@-webkit-keyframes fadeOut {/* Safari and Chrome */
  from {-webkit-transform:scale(0.0);}
  to {-webkit-transform:scale(1.0); opacity: 0;}
}

@-o-keyframes fadeOut {/* Opera */

}
