body{
  background: #000;
}
.spinner{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: 100px auto;
  border: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left-color: #fff;
  -webkit-animation:load  1.2s infinite linear;
}

@keyframes load{
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@-moz-keyframes fadeOut{ /* Firefox */

}

@-webkit-keyframes load { /* Safari and Chrome */
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
