@charset "UTF-8";

/* 移动端页面设计稿宽度 */ //根据设计稿做调整
$design-width: 750;  //1rem == 10vw == 75px
/* 将移动端页面分为10块 */
$blocks: 10;
/* 缩放所支持的设备最小宽度 */
$min-device-width: 320px;
/* 缩放所支持的设备最大宽度 */
$max-device-width: 540px;

/*
    vw与px对应关系，100vw为视窗宽度，$vw即为$px对应占多宽

        $px                    $vw
    -------------    ===    ----------
    $design-width             100vw
*/

/* 单位px转化为vw */
@function px2vw($px) {
    @return ($px / $design-width) * 100vw;
}

/* 单位vw转化为px，可用于根据vw单位快速计算原px */
@function vw2px($vw) {
    @return #{($vw / 100) * $design-width}px;
}


/*
    rem与px对应关系，1rem代表html font-size值（为一块的宽度），$rem即为$px对应占多少

        $px                    $rem
    -------------    ===    ------------
    $design-width              $blocks
*/

/* html根元素的font-size定义，简单地将页面分为$blocks块，方便计算 */
@mixin root-font-size() {
    font-size: 100vw / $blocks;//1 why
    //font-size: 50px;

    body {

        //1209
        margin-right: auto;
        margin-left: auto;
        min-width: $min-device-width;
        max-width: $max-device-width;
    }

    /* 最小宽度定义 */
    @media screen and (max-width: $min-device-width) {
        font-size: $min-device-width / $blocks;//2
        //font-size: 32px;
    }

    /* 1209最大宽度定义 */
    @media screen and (min-width: $max-device-width) {
        font-size: $max-device-width / $blocks;//3
        //font-size: 54px;
    }

}



/* 单位px转化为rem */
@function px2rem($px) {
    @return #{$px / $design-width * $blocks}rem;
}


/* 单位rem转化为px，可用于根据rem单位快速计算原px
正常$design-width 为750
大于 $max-device-width 时候，这里$design-width为540来还原
小于 $min-device-width 时候，这里$design-width为320来还原
*/
@function rem2px($rem) {
    @return #{$rem / $blocks * $design-width}px;
}


//手机浏览器，绝大部分是以980px作为默认的viewport值的
