
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 13.3333333333333vw /* 100px  1rem */
}


body {
  background-color: #f8f8f8;
  font-size: 0.28rem;
  font-family: "Microsoft YaHei";
}

.container {
  background-color: #fff;
}

header {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background-color: #f2f2f2;
}


nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;

    & li {
        display: flex;
        flex-wrap: wrap;
        width: 2rem;
        justify-content: center;
    }

    & .icon {
        margin-bottom: 0.2rem;
        width: 1.2rem;
        height: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
        background-color: #f2f2f2;
    }

    & .info-radious{
        /* border-radius: 2rem; */

        border-top-left-radius:1.2rem;
        border-top-right-radius:1.2rem;
        /* border-bottom-right-radius:2rem;
        border-bottom-left-radius:2rem; */
    }
}

.fontt {
    display: inline-block;
    margin-bottom: 0.2rem;
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 2rem;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 0.12rem;
}

.fonttt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #f2f2f2;
    border-radius: 2rem;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 0.12rem;
}

main {
    padding: 0.2rem;

    & h3 {
        position: relative;
        margin-top: 0.5rem;
        margin-left: 0.26rem;
        font-size: 0.3rem;
    }

    & h3:before {
        content: "";
        position: absolute;
        left: -0.2rem;
        width: 0.12rem;
        height: 100%;
        background-color: #fc8200;
  }
}

.info-items {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}


.info-item {
    margin-top: 0.2rem;
    padding: 0.3rem;
    padding-left: 0;


    display: flex;
    align-items: center;

    & span {

        min-width: 1.2rem;
        text-align: center;

        border-right: 0.01rem solid #f2f2f2;
    }

    & input {
        width: 100%;
        border: none;
        font-size: 0.28rem;
        caret-color: #fc8200;
        outline: none;
    }

    & textarea {
        padding: 0.2rem;
        width: 100%;
        border: none;
        height: 2.5rem;
        font-size: 0.28rem;
        font-family: "Microsoft YaHei";
        caret-color: #fc8200;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }
}

.info-item-name{
  border: 1px solid #f2f2f2;
  border-radius: 0.6rem;
}

.info-item-tel{
  border-bottom: 0.01rem solid #f2f2f2;
}

.info-item-intro{
  border: 0.01rem solid #f2f2f2;
}


.info-confirm {
    margin-bottom: 0.4rem;
    text-align: center;

    & .info-confirm-btn {
        display: inline-block;
        margin-top: 0.8rem;
        width: 2rem;
        height: 0.8rem;
        line-height: 0.8rem;
        text-align: center;
        background-color: #fc8200;
        text-decoration: none !important;
        color: #fff !important;

    }
}

footer {
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: #f2f2f2;
}
