body{
  text-align: center;
}
/*浏览器内核Mozilla(Firefox浏览器),Webkit(Safari、Chrome浏览器),Opera(Opera浏览器),Trident(IE浏览器)*/
/*gradient分为linear-gradient(线性渐变)和radial-gradient(径向渐变)*/
.gradient{
  display: inline-block;
  border: 1px solid gray;
  width: 200px;
  height: 100px;
}
.gradientl1{
  background: -moz-linear-gradient(left, #ccc, #000);
}
.gradientl2{
  background: -webkit-linear-gradient(left, #ccc, #000);
  /*background: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#000));*/
}
.gradientl3{
  background: -o-linear-gradient(left, #ccc, #000);
}
.gradientl4{
  background: -o-linear-gradient(left, #ace, #f96);
  background: -moz-linear-gradient(left, #ace, #f96);
  background: -webkit-linear-gradient(left, #ace, #f96);
}
.gradientl5{
  background: -o-linear-gradient(left top, #ace, #f96);
  background: -moz-linear-gradient(left top, #ace, #f96);
  background: -webkit-linear-gradient(left top, #ace, #f96);
}
.gradientl6{
  background: -o-linear-gradient(left, #ace, #f96, #ace, #f96, #ace);
  background: -moz-linear-gradient(left, #ace, #f96, #ace, #f96, #ace);
  background: -webkit-linear-gradient(left, #ace, #f96, #ace, #f96, #ace);
}
.gradientl7{
  background: -o-linear-gradient(left, #ace, #f96 5%, #ace, #f96 95%, #ace);
  background: -moz-linear-gradient(left, #ace, #f96 5%, #ace, #f96 95%, #ace);
  background: -webkit-linear-gradient(left, #ace, #f96 5%, #ace, #f96 95%, #ace);
}
/*角度它是一个由水平线与渐变线产生的的角度，逆时针方向，0deg是一个左到右横向梯度*/
.gradientl8{
  background: -o-linear-gradient(30deg, #ccc, #000);
  background: -webkit-linear-gradient(30deg, #ccc, #000);
  background: -moz-linear-gradient(30deg, #ccc, #000);
}
.gradientl9{
  background: -o-linear-gradient(90deg, #ccc, #000);
  background: -webkit-linear-gradient(90deg, #ccc, #000);
  background: -moz-linear-gradient(90deg, #ccc, #000);
}
.gradientl10{
  background: -o-linear-gradient(270deg, #ccc, #000);
  background: -webkit-linear-gradient(270deg, #ccc, #000);
  background: -moz-linear-gradient(270deg, #ccc, #000);
}
.gradientl11{
  background: -o-linear-gradient(left, red, purple, yellow, green, blue);
  background: -webkit-linear-gradient(left, red, purple, yellow, green, blue);
  background: -moz-linear-gradient(left, red, purple, yellow, green, blue);
}
.gradientl12{
  background: -o-linear-gradient(left, rgba(255, 225, 225, 0), rgba(255, 225, 225, 1)), url(../image/flower.png);
  background: -webkit-linear-gradient(left, rgba(255, 225, 225, 0), rgba(255, 225, 225, 1)), url(../image/flower.png);
  background: -moz-linear-gradient(left, rgba(255, 225, 225, 0), rgba(255, 225, 225, 1)), url(../image/flower.png);
}
/*径向渐变到目前还不支持Opera的内核浏览器*/
.gradientl13{
  background: -webkit-radial-gradient(#ace, #f96, #1e90ff);
  background: -moz-radial-gradient(#ace, #f96, #1e90ff);
}
.gradientl14{
  background: -webkit-radial-gradient(#ace 5%, #f96 25%, #1e90ff 50%);
  background: -moz-radial-gradient(#ace 5%, #f96 25%, #1e90ff 50%);
}
.gradientl15{
  background: -webkit-radial-gradient(bottom left, circle, #ace, #f96, #1e90ff);
  background: -moz-radial-gradient(bottom left, circle, #ace, #f96, #1e90ff);
}
.gradientl16{
  background: -webkit-radial-gradient(bottom left, ellipse, #ace, #f96, #1e90ff);
  background: -moz-radial-gradient(bottom left, ellipse, #ace, #f96, #1e90ff);
}
.gradientl17{
  background: -webkit-radial-gradient(ellipse closest-side, #ace, #f96 10%, #1e90ff 50%, #f96);
  background: -moz-radial-gradient(ellipse closest-side, #ace, #f96 10%, #1e90ff 50%, #f96);
}
.gradientl18{
  background: -webkit-radial-gradient(ellipse closest-corner, #ace, #f96 10%, #1e90ff 50%, #f96);
  background: -moz-radial-gradient(ellipse closest-corner, #ace, #f96 10%, #1e90ff 50%, #f96);
}
.gradientl19{
  background: -webkit-radial-gradient(ellipse farthest-corner, #ace, #f96 10%, #1e90ff 50%, #f96);
  background: -moz-radial-gradient(ellipse farthest-corner, #ace, #f96 10%, #1e90ff 50%, #f96);
}
.gradientl20{
  background: -webkit-radial-gradient(ellipse farthest-side, #ace, #f96 10%, #1e90ff 50%, #f96);
  background: -moz-radial-gradient(ellipse farthest-side, #ace, #f96 10%, #1e90ff 50%, #f96);
}
.gradientl21{
  background: -webkit-radial-gradient(circle closest-side, #ace, #f96 10%, #1e90ff 50%, #f96);
  background: -moz-radial-gradient(circle closest-side, #ace, #f96 10%, #1e90ff 50%, #f96);
}
.gradientl22{
  background: -webkit-radial-gradient(circle farthest-side, #ace, #f96 10%, #1e90ff 50%, #f96);
  background: -moz-radial-gradient(circle farthest-side, #ace, #f96 10%, #1e90ff 50%, #f96);
}
.gradientl23{
  background: -webkit-radial-gradient(contain, #ace, #f96, #1e90ff);
  background: -moz-radial-gradient(contain, #ace, #f96, #1e90ff);
}
.gradientl24{
  background: -webkit-radial-gradient(circle, #ace, #f96);
  background: -moz-radial-gradient(circle, #ace, #f96);
}
.gradientl25{
  background: -webkit-radial-gradient(80% 20%,closest-corner, #ace, #f96);
  background: -moz-radial-gradient(80% 20%,closest-corner, #ace, #f96);
}
/*重复渐变的应用*/
.gradientl26{
  background: -webkit-repeating-radial-gradient(#ace, #ace 5px, #f96 5px, #f96 10px);
  background: -moz-repeating-radial-gradient(#ace, #ace 5px, #f96 5px, #f96 10px);
}
.gradientl27{
  background: -webkit-repeating-linear-gradient(-45deg, #ace, #ace 5px, #f96 5px, #f96 10px);
  background: -moz-repeating-linear-gradient(-45deg, #ace, #ace 5px, #f96 5px, #f96 10px);
}

/*漂亮的按钮*/
ul {
  overflow: hidden;
  margin-top: 20px;
  text-align: center;
}
li{
  width: 150px;
  height: 80px;
  display: inline-block;
  background: #ace;
  -webkit-background-size: 20px 20px;
  -moz-background-size: 20px 20px;
  background-size: 20px 20px;
}

.gradient1 {
  background-image: -moz-linear-gradient(
    45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
    );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    gba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
    );
}

.gradient2 {
   background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
      transparent 75%, transparent);
   background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
      transparent 75%, transparent);
   background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
      transparent 75%, transparent);
}

.gradient3 {
  background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}

.gradient4 {
  background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}

.gradient5 {
  background-image: -moz-linear-gradient(45deg, #555 25%, transparent 25%, transparent),
     -moz-linear-gradient(-45deg, #555 25%, transparent 25%, transparent),
     -moz-linear-gradient(45deg, transparent 75%, #555 75%),
     -moz-linear-gradient(-45deg, transparent 75%, #555 75%);
  background-image: -o-linear-gradient(45deg, #555 25%, transparent 25%, transparent),
     -o-linear-gradient(-45deg, #555 25%, transparent 25%, transparent),
     -o-linear-gradient(45deg, transparent 75%, #555 75%),
     -o-linear-gradient(-45deg, transparent 75%, #555 75%);
  background-image: linear-gradient(45deg, #555 25%, transparent 25%, transparent),
    linear-gradient(-45deg, #555 25%, transparent 25%, transparent),
    linear-gradient(45deg, transparent 75%, #555 75%),
    linear-gradient(-45deg, transparent 75%, #555 75%);
}

.gradient6 {
  background-image: -moz-linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)),
     -moz-linear-gradient(0deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
  background-image: -o-linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)),
     -o-linear-gradient(0deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
  background-image: linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)),
     linear-gradient(0deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
}
