body{
  text-align: center;
}
.radius{
  height: 100px;
  width: 200px;
  border: 1px solid purple;
  display: inline-block;
  background: #ccc;
}
/*“/”前是指圆角的水平半径，而“/”后是指圆角的垂直半径*/
.radius1{
  border-radius: 10px 15px 20px 30px / 20px 30px 10px 15px;
}
.radius2{
  border-top-left-radius: 10px 20px;
  border-top-right-radius: 15px 30px;
  border-bottom-right-radius: 20px 10px;
  border-bottom-left-radius: 30px 15px;
}
.radius3{
  border-radius: 10px;
}
.radius4{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.radius5{
  border-radius: 10px 20px;
}
.radius6{
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 20px;
}
.radius7{
  border-radius: 10px 20px 30px 40px;
}
.radius8{
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
}

.radius9{
  border-radius: 10px 20px / 20px 10px;
}
.radius10{
  border-top-left-radius: 10px 20px;
  border-top-right-radius: 20px 10px;
  border-bottom-right-radius: 10px 20px;
  border-bottom-left-radius: 20px 10px;
}

.radius11{
  border-radius: 10px 20px 30px/ 50px 60px;
}
.radius12{
  border-top-left-radius: 10px 50px;
  border-top-right-radius: 20px 60px;
  border-bottom-right-radius: 30px 50px;
  border-bottom-left-radius: 20px 60px;
  /*border-bottom-left-radius: 0 60px;*/
}
.radius13{
  border-width: 15px;
  border-radius: 25px;
}
.radius14{
  border-width: 15px;
  border-radius: 10px;
}
.radius15{
  border-width: 10px 5px 20px 3px;
  border-radius: 30px;
}
.radius16{
  border-color: red green blue orange;
  border-width: 15px 30px 30px 80px;
  border-radius: 50px;
}
/*img上应用border-radius到目前只有Firefox4.0+浏览器才正常，而在其他浏览器都不能对图片进行剪切*/
.radius17 img{
  border: 5px solid green;
  border-radius: 15px;
}

table{
  width: 100px;
  height: 100px;
  border:2px solid red;
}
.radius18{
  border-collapse: collapse;
  background: green;
  border-radius: 15px;
}
.radius19{
  border-collapse: separate;
  background: green;
  border-radius: 15px;
}
