*{
  margin:0;
  padding: 0;
}
.demo, .img, .mask, .border{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.demo{
  display: block;
  position: relative;
}
.img{
  background-image: url(a.png);
  background-size: cover;
  background-position: 50% 50%;
}
.mask, .border{
  position: absolute;
  left: 0;
  top: 0;
}
.mask{
  text-align: center;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}
.info{
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.border{
  border: 10px solid #072256;
  border-left-color: #E07514;
  border-top-color: #E07514;
  -webkit-box-sizing: border-box;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.demo:hover .mask{
  background-color: rgba(0, 0, 0, .5);
  color: rgba(255, 255, 255, 1);
}

.demo:hover .border{
  transform:rotate(180deg);
  }
